body {
    background-color: #37c959; /* Light red background */
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #4cf473; /* Different shade of red for form */
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #4cf473;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #2ca300; /* Darker red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #4cf473; /* Even darker red */
}
span{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}