body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: #4fa4c5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
    max-width: 800px;
    margin: 50px auto;
    color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input, textarea {
    width: calc(100% - 24px);
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #0056b3;
}

button[disabled] {
    background: #ccc;
    cursor: not-allowed;
}

#info {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    max-width: 200px;
    height: auto;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-label input {
    margin-right: 10px;
}
